<launch>
    <arg name="use_gui" default="false"/>
    <arg name="debug" default="false"/>
    <arg name="gazebo" default="false"/>

    <include file="$(find panda_moveit_config)/launch/demo.launch" unless="$(arg gazebo)">
        <arg name="use_gui" value="$(arg use_gui)"/>
        <arg name="debug" value="$(arg debug)"/>
    </include>

    <include file="$(find panda_moveit_config)/launch/franka_gazebo.launch" if="$(arg gazebo)">
        <arg name="use_gui" value="$(arg use_gui)"/>
        <arg name="debug" value="$(arg debug)"/>
    </include>
</launch>