<launch>
    <arg name="use_moveit_sim" default="true"/>
    <!-- <arg name="robot_ip" default="robot_ip"/>
    <arg name="launch_franka_control" default="false"/> -->
    <rosparam command="load" file="$(find group4)/config/targets_by_joint_angles.yaml"/>
    <!-- <include file="$(find panda_moveit_config)/launch/panda_control_moveit_rviz.launch" unless="$(arg use_moveit_sim)">
        <arg name="robot_ip" value="$(arg robot_ip)"/>
        <arg name="launch_franka_control" value="$(arg launch_franka_control)"/>

    </include> -->

    <include file="$(find panda_moveit_config)/launch/demo.launch" if="$(arg use_moveit_sim)"/>
    <node pkg="group4" name="plan_scene" type="plan_scene" output="screen" />
    <node pkg="group4" name="manipulation_cap" type="manipulation_cap" output="screen" />

</launch>

